* {
    font-size: 16px;
    color: white
}

nav {
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#navigation {
    display: flex;
    align-items: center;
}

#logo {
    height: 18vh;
    width: auto;
    margin: 0 2vh
}

#navigation ul {
    display: flex;
}

#navigation ul li a {
    text-decoration: none;
    font-size: 1.6em;
    margin: 0 2vh;
}

#iconDiv {
    margin-right: 2vh;
}

.icons {
    filter: invert(1);
    height: 6vh;
    width: auto;
    margin: 0 2vh;
}

main {
    background-image: url("../img/elden_ring_background.jfif");
    background-repeat: no-repeat;
}

h1 {
    font-size: 5em;
    text-align: center;
    padding: 10vh 0;
}

#mainColumns {
    display: flex;
    padding: 2vh;
    justify-content: space-around;
    align-items: center;
}

#mainText {
    width: 40vw;
}

h2 {
    font-size: 2em;
    padding: 3vh 0;
    font-weight: bold;
}

p {
    font-size: 1.2em;
    padding: 2vh 0;
}

aside img {
    height: 50vh;
    width: auto;
}

#buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#buttons button {
    display: block;
    font-size: 1.4em;
    border-radius: 12px;
    margin: 5vh 5vh;
}

#buy {
    background-color: white;
    color: black;
    padding: 3vh 14vh;
    border-style: none;
}

#play {
    background-color: transparent;
    border: 1px solid white;
    padding: 3vh 17vh;
}

#available {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.stores {
    height: 10vh;
    width: auto;
}

.ps4 {
    height: 14vh;
    width: auto;
}

#available > li {
    margin: 0 3vw;
    align-items: center;
}

#available img {
    vertical-align: middle;
}

#available > li a {
    text-decoration: none;
    font-size: larger;
    vertical-align: middle;
}
